@import '~bootstrap/dist/css/bootstrap.min.css';

.rounded-img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.text-box {
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}
  