<div class="container text-center">
    <div class="row">
      <div class="col">
        <img class="rounded-img" src="https://img.freepik.com/premium-vector/shine-clean-face-mask-sketch-icon-vector-hand-drawn-blue-doodle-line-art-shine-clean-face-mask-sign_231873-10896.jpg" />
      </div>
      <div class="col">
        <p class="text-box">Experience 200% Increase in ROI with RPA within the first year of deployment – a study by McKinsey & Company</p>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
    </div>
<div class="row">