.section {
    background-image: url('https://media.istockphoto.com/id/1025321152/photo/robot-handshake.jpg?s=612x612&w=0&k=20&c=CymZLFs5fREtzLm3TkLiQO3FuK0_binayNcvHg3lJRA=');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .section-content {
      text-align: center;
      color: white;
  
      h2 {
        font-size: 32px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 18px;
        margin-bottom: 20px;
      }
  
      .btn {
        background-color: blue;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
      }
    }
  }
  